h1, h2, span{
	text-align: center;
}
.instructions {
	margin-left:250px;
}
.row {
    margin-right: -15px;
	margin-left: 250px;
}
.crystalImage{
	height: 60px;
	margin: 10px;
}
#blue{
	color: #16a2ee;
}
#green{
	color: #16f388;
}
#red{
	color: #eb0b28;
}
#yellow{
	color: #f3af01;
}